<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>예약자 목록</h3><br>
<select name="resNo">
	<option value="none">예약번호</option>
	<option value="">예약자명</option>
	<option value="">결제여부</option>
	<option value="">리뷰</option>
	
</select>

<input type="text" >
<button type="button">검색</button>



<table>
	<tr>
		<td>예약번호</td>
		<td>예약자명</td>
		<td>결제일자</td>
		<td>금액</td>
		<td>결제상태</td>
		<td>리뷰</td>
	</tr>
	<tbody class="list">
		<tr th:each="res : ${resList}">
			<td th:text="${res.no}">예약번호</td>
			<td th:text="${res.name}">예약자명</td>
			<td th:text="${res.payDate}">결제일자</td>
			<td th:text="${res.paymentAmt}">금액</td>
			<td th:text="${res.status}">결제여부</td>
			<td th:text="${}">답변여부</td>
		</tr>
	</tbody>
</table>

<script>

$("table").on("click", ".list", function(){
	console.log($(this).find("td").html());

	const url = "detail/" + $(this).find("td").html();
	location.href = url;
	
}) 

</script>

</body>
</html>